<main>
    <div id="tt-pageContent ">
        <div class="container-indent row">
            <div class="container container-fluid-custom-mobile-padding mt-2 col-sm-6 user_infor__body">
                <h1 class="mt-4 text-center ">Thông tin tài khoản </h1>

                <div class="form-group row">
                    <label for="shopInputFirstName" class="control-label col-sm-4">Họ Tên:  </label>
                    <p class="col-sm-8 user_infor__item">{{user.last_name}} {{user.first_name}} </p>
                </div>
               
                <div class="form-group row">
                    <label for="username" class="control-label col-sm-4">Username:  </label>
                   <p class="col-sm-8 user_infor__item"> {{user.user_name}}</p>
                </div>
                <div class="form-group row">
                    <label for="shopPhone" class="control-label col-sm-4">Số Điện Thoại: </label>
                    <p class="col-sm-8 user_infor__item">{{user.phone_number}}</p>
                </div>
                <div class="form-group row">
                    <label for="shopEmail" class="control-label col-sm-4">Địa chỉ email: </label>
                   <p class="col-sm-8 user_infor__item">{{user.user_email}}</p>
                </div>

                <label for="fileImageAvatar">Ảnh đại diện </label>
                <div class="card" style="width: 18rem;">
                    <img src="{{user.avatar_image}}" class="card-img-top " alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
</main>