<main>
    <div class="container-fluid">
        <h1 class="mt-4">Danh sách sản phẩm</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Sách</li>
        </ol>
     
        <div class="row text-right mb-4"> 
            <div class="col-sm-6 input-group d-inline-flex">            
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle col-sm-12" type="button" id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownCategory">
                        <button  name = "All" class="dropdown-item" onclick="filterByCategory(name)" >All </button>
                        {{#each category}}
                            <button name="{{nameOfCategory}}" class="dropdown-item" onclick="filterByCategory(name)"  >{{nameOfCategory}} - {{numberOfProduct}} </button>
                        {{/each}}                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                    <a href="/admin/book/add-book" class=" btn btn-success ">Thêm sản phẩm</a>
            </div> 
        </div>
        <div class="alert alert-danger d-none messageDelete"></div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Danh sách sản phẩm
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Tác giả</th>
                                <th>Loại sách</th>
                                <th>Giá bán</th>
                                <th>Lượt mua</th>
                                <th>Lượt xem</th>
                                <th>Chỉnh sửa</th>    
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Tác giả</th>
                                <th>Loại sách</th>
                                <th>Giá bán</th>
                                <th>Lượt mua</th>
                                <th>Lượt xem</th>
                                <th>Chỉnh sửa</th>    
                            </tr>
                        </tfoot>
                        <tbody>
                            {{#each book}}
                                <tr>
                                    <td>{{title}}</td>
                                   <td>
                                       {{join author }}
                                           
                                    </td>
                                    <td>{{category}}</td>
                                    <td>{{toFloat price}}</td>
                                    <td>{{views}}</td>
                                    <td>{{orders}}</td>
                                    <td>
                                        <button type="button" onclick="deleteBook(name)" name={{_id}} class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="xoá">
                                            <i class="fas fa-trash-alt text-danger"aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip" data-original-title="sửa">
                                            <a href="/admin/book/edit?id={{_id}}"><i class="fas fa-edit text-success" aria-hidden="true"></i></a>
                                        </button>
                                    </td>
                                </tr>
                            {{/each}}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/js/customize.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>