<main>
    <div class="container-fluid">
        <h1 class="mt-4">Đơn hàng hiện tại</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Đơn hàng</li>
        </ol>

        <div class="alert alert-primary d-none " id="message-from-sever" role="alert"></div>

        {{!-- <div class="row text-right mb-4"> 
            <div class="col-sm-3 input-group d-inline-flex">            
                <div class="dropdown">
                    {{#if curentCategoryView}}
                        <button class="btn btn-light dropdown-toggle col-sm-12" value="{{curentCategoryView._id}}" type="button" id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{curentCategoryView.nameOfCategory}}
                        </button>
                    {{else}}
                     
                        <button value="{{curentCategoryView._id}}" class="btn btn-light dropdown-toggle col-sm-12" type="button" id="dropdownCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All
                        </button>
                    {{/if}}
                   
                    <div class="dropdown-menu" aria-labelledby="dropdownCategory">
                        <button  value="0" class="dropdown-item btn--category" >All </button>
                        {{#each category}}
                            <button name="{{nameOfCategory}}" value="{{_id}}"   class="dropdown-item btn--category"  >{{nameOfCategory}} - {{numberOfProduct}} </button>
                        {{/each}}                        
                    </div>
                </div>
            </div>
            <form action="/admin/book/search" method="GET" class="col-sm-6 search-box">
               <div class="input-group mb-3">
                   <input type="text" id="input__search" name="value" 
                   class="form-control" placeholder="Tìm trên toàn bộ danh sách" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    <button type="submit" class="input-group-text btn__search" >Tìm kiếm</button>                    
                </div>
            </form>
            <div class="col-sm-3">
                    <a href="/admin/book/add" class=" btn btn-success ">Thêm sản phẩm</a>
            </div> 
        </div> --}}
        <div class="alert alert-danger d-none messageDelete"></div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Danh sách đơn hàng
            </div>

            <div class="card-body" id="cart__data">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Số điện thoại</th>
                                <th>Ngày mua</th>
                                <th>Tổng tiền hóa đơn</th>
                                <th>Tình trạng</th> 
                                <th>Chỉnh sửa</th>     
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Số điện thoại</th>
                                <th>Ngày mua</th>
                                <th>Tổng tiền hóa đơn</th>
                                <th>Tình trạng</th> 
                                <th>Chỉnh sửa</th>    
                            </tr>
                        </tfoot>
                        <tbody id="tbody__data">
                             {{#eachIndex listOrder.docs}}
                                <tr>
                                    <td>{{item.orderCODE}}</td>
                                   <td>
                                       {{item.nameCustomer }}
                                    </td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.date}}</td>
                                    <td>{{formatNumber item.bill.costAfterAddShippingCost}}<u>đ</u> </td>
                                    <td>Chưa giao</td>
                                    
                                    <td>   <div class="input-group">   
                                       
    
                                        <div class="input-group-append">
                                             {{!-- <span class="status_account_{{status}}" id="{{_id}}">{{status}}</span> --}}
                                             <span >edit</span>
                                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item"  >Xác nhận <i class="fas fa-ban text-danger"></i> </button>
                                            <button class="dropdown-item"  >Đang vận chuyển <i class="fas fa-check text-success"></i></button>
                                            <button class="dropdown-item"  >Đã giao thành công <i class="fas fa-check text-success"></i></button>
                                        </div>
                                    </div>
                                    </div></td>

                                </tr>
                            {{/eachIndex}}
                             
                        </tbody>
                    </table>
                </div>
                 <nav id="pagination" aria-label="Page navigation example" style="margin-top: 20px;">
                    <ul class="pagination justify-content-center"   style="display: flex">

                        <li class="page-item active">
                            <button class=" page-link" href="javascript:void(0)" tabindex="-1">{{listOrder.page}}</button>
                        </li>

                        
                        <li class="page-item ">
                            <button class="btn--pagination page-link"
                                value="{{listOrder.nextPage}}"
                                onclick='getAPIOrders(value)'>{{listOrder.nextPage}}
                                </button> 
                        </li>


                        {{#gt listOrder.totalPages listOrder.page }}
                        <li class="page-item">
                            <button class="btn--pagination page-link" 
                            value="{{listOrder.nextPage}}"
                            onclick="getAPIOrders(value)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </button>
                        </li>
                        {{/gt}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
   

</main>

<script  type="text/x-handlebars-template" id="table_data">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Số điện thoại</th>
                    <th>Ngày mua</th>
                    <th>Tổng tiền hóa đơn</th>
                    <th>Tình trạng</th> 
                    <th>Chỉnh sửa</th>     
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Số điện thoại</th>
                    <th>Ngày mua</th>
                    <th>Tổng tiền hóa đơn</th>
                    <th>Tình trạng</th> 
                    <th>Chỉnh sửa</th>    
                </tr>
            </tfoot>
            <tbody id="tbody__data">
                  \{{#each products.listOrder.docs}}
                    <tr>
                        <td>\{{orderCODE}} </td>
                        <td>
                            \{{nameCustomer }}
                        </td>
                        <td>\{{phone}}</td>
                        <td>\{{date}}</td>
                        <td>\{{formatNumber bill.costAfterAddShippingCost}}<u>đ</u> </td>
                        <td id="status_order">Chưa giao</td>
                        
                        <td>   <div class="input-group">   
                            

                            <div class="input-group-append">
                                  <span >edit</span>
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             
                            </button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item"  >Xác nhận <i class="fas fa-ban text-danger"></i> </button>
                                <button class="dropdown-item"  >Đang vận chuyển <i class="fas fa-check text-success"></i></button>
                                <button class="dropdown-item"  >Đã giao thành công <i class="fas fa-check text-success"></i></button>
                            </div>
                        </div>
                        </div></td>

                    </tr> 
                \{{/each}}
                  
            </tbody>
        </table>
    </div>
    <nav id="pagination" aria-label="Page navigation example" style="margin-top: 20px; display: inline">
        <ul class="pagination justify-content-center"  style="display: flex">
            <!-- icon << -->
            \{{#if products.NotFirstPage}}
                <li class="page-item">
                    <button class="btn--pagination page-link"  
                    value=\{{products.listOrder.prevPage}}
                    onclick="getAPIOrders(value)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </button>
                </li>
            \{{/if}}

                <!-- prevPage -->
            \{{#if products.listOrder.hasPrevPage}}
            <li class="page-item">
                <button class="btn--pagination page-link"
                value=\{{products.listOrder.prevPage}}
                    onclick="getAPIOrders(value)">\{{products.listOrder.prevPage}}
                </button>
            </li>
            \{{/if}}
                <!-- current Page -->
            <li class="page-item active">
                <button class=" page-link" href="javascript:void(0)" tabindex="-1">\{{products.listOrder.page}}</button>
            </li>

            \{{#if products.listOrder.hasNextPage}}
                <li class="page-item ">
                    <button class="btn--pagination page-link"
                    value=\{{products.listOrder.nextPage}}
                        onclick="getAPIOrders(value)">\{{products.listOrder.nextPage}}
                        </button></li>
            \{{/if}}

            \{{#if products.NotLastPage }}
            <li class="page-item">
                <button class="btn--pagination page-link" 
                value=\{{products.listOrder.nextPage}}
                onclick="getAPIOrders(value)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </button>
            </li>
            \{{/if}}

        </ul>
    </nav>
</script>
