<main>
    <div class="container-fluid">
        <h1 class="mt-4">Thông tin cá nhân</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Cá nhân</li>
        </ol>
        <div class="main-container">
          <div class="top-content row mb-4 container">
              <div class="image__container col-sm-10">        
                  <div class="image__avatar mb-2">
                      <div id="button-group-avatar">
                       <input  id="btn-upload-image" type="file"  name="upload-avata" ></input>
                    </div>
                    <img id="avatar-image" src="{{account.avatar_image}}" alt="avatar image"
                    type="button" class="btn__watch-avatar" data-toggle="modal" 
                    data-target="#watch_avatar_modal"for="upload-avatar">            
                    <!-- Button trigger modal -->
                       <button type="button" class="btn btn__upload-file" data-toggle="modal" 
                    data-target="#upload_avatar_modal"for="upload-avatar">
                    <i class="far fa-edit"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="upload_avatar_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <form id="change_avatar_form" class="modal-content" enctype="multipart/form-data" action="/admin/change/avatar" method="POST">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Đổi ảnh đại diện</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p class="alert alert-primary d-none" id="message__result"></p>
                            <div  class="file-upload" >
                              <button class="file-upload-btn btn-primary" type="button" 
                              onclick="$('.file-upload-input').trigger( 'click' )">Thêm ảnh</button>

                              <div class="image-upload-wrap">
                                <input class="file-upload-input" id="input_avatar" type='file' onchange="readURL(this);" accept="image/*" />
                                <div class="drag-text">
                                  <p>Kéo và thả hình ảnh vào đây</p>
                                </div>
                              </div>
                              <div class="file-upload-content">
                                <img class="file-upload-image" src="#" alt="your image" />
                                <div class="image-title-wrap">
                                  <button type="button" onclick="removeUpload()" class="remove-image btn-danger">Xóa hình ảnh <span class="image-title">Hình ảnh đã tải lên</span></button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary" id="btn__change-avatar">Lưu thay đổi</button>
                          </div>
                        </form>
                      </div>
                    </div>          
                    <div class="modal fade" id="watch_avatar_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div  class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Ảnh đại diện</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="watch_avatar">
                              <img src="{{account.avatar_image}}" alt="avatar full image">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                          </div>
                        </div>
                      </div>
                    </div>          
                  </div>     
              </div>         
          </div>
          <div class="input-group col-sm-10 mb-4 row ">
            <label for="infor__fullname"  class="col-sm-3 ">Họ tên</label>
            <input type="text" id="infor__fullname" name="fullname" disabled
                class="form-control input__infor col-sm-6"  aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{account.fullname}}">
              <button type="button " class="input-group-text btn__edit-user" ><i class="far fa-edit"></i></button> 
            <button class="btn btn-success btn__save-infor"><i class="far fa-save"></i></button>   
          </div>
          <div class="input-group col-sm-10 mb-4 row">
            <label for="infor__email" class="col-sm-3 ">Email</label>
            <input type="email" id="infor__email" name="email" disabled
                class="form-control input__infor col-sm-6" aria-label="Default" 
                aria-describedby="inputGroup-sizing-default" value="{{account.email}}" >
            <button type="button " class="input-group-text btn__edit-user" ><i class="far fa-edit"></i></button> 
            <button class="btn btn-success btn__save-infor"><i class="far fa-save"></i></button>          
          </div>
          <div class="input-group col-sm-10 mb-4 row">
            <label for="infor__phone" class="col-sm-3 ">Số điện thoại</label>
            <input type="text" id="infor__phone" name="phone" disabled
                class="form-control input__infor col-sm-6" aria-label="Default" 
                aria-describedby="inputGroup-sizing-default"value="{{account.phone}}" >
            <button type="button " class="input-group-text btn__edit-user" ><i class="far fa-edit"></i></button> 
            <button class="btn btn-success btn__save-infor"><i class="far fa-save"></i></button>   
          </div>
          <div class="input-group col-sm-10 mb-4 row">
            <label for="infor__address" class="col-sm-3 ">Địa chỉ</label>
            <input type="text" id="infor__address" name="address" disabled
                    class="form-control input__infor col-sm-6" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="{{account.address}}">
            <button type="button " class="input-group-text btn__edit-user" ><i class="far fa-edit"></i></button> 
            <button class="btn btn-success btn__save-infor"><i class="far fa-save"></i></button>                   
          </div>
         
      </div>
    </div> 
    <!-- Change Password-->
    <div class="change-password container" >
     
      <!-- Button trigger modal -->
      <button class="btn btn-success btn__change-password"
      data-toggle="modal" data-target="#change_password_modal">Đổi mật khẩu</button>
      <!-- Modal -->
      <div class="modal fade" id="change_password_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <form class="modal-content" id="form__change_password">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Đổi mật khẩu</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                 <p class="alert alert-primary" id="result_change_password"></p>
                <div class="form-group">
                <label for="enter-old-password" class="form-label">Nhập mật khẩu hiện tại</label>
                <input required type="password" id='old_password' name="old_password" class="form-control">
              </div>
              <div class="form-group">
                <label for="enter-new-password" class="form-label">Nhập mật khẩu mới</label>
                <input required minlength="8" type="password" id="new_password" name='new_pass' class="form-control">
              </div>
              <div class="form-group">
                <label for="re-enter-password" class="form-label">Nhập lại mật khẩu mới</label>
                <input required  minlength="8"type="password" id="re_enter_password" name="re_new_pass" class="form-control">
              </div>
    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-primary" id="btn__change-password"> Lưu thay đổi</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</main>
