<link rel="stylesheet" href="/css/custom.css">

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản lí tài khoản khách hàng</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Khách hàng</li>
        </ol>
        <div class="alert alert-danger d-none messageBlock" ></div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Danh sách tài khoản
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tên đăng nhập</th>
                                <th>Email</th>
                                <th>Ngày truy cập gần nhất</th>
                                <th>Xóa</th>
                                <th>Khoá</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Tên đăng nhập</th>
                                <th>Email</th>
                                <th>Ngày truy cập gần nhất</th>
                                <th>Xoá</th>
                                <th>Khoá</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {{#each user}}
                            <tr>
                                <td>{{user_name}}</td>
                                <td>{{user_email}}</td> 
                                <td>{{Lastest_Time_Access}}</td> <!-- variable -->
                                <td class="text-center">
                                    <button type="button" data-toggle="modal" data-target="#{{user_name}}" 
                                     class="btn btn-sm btn-icon btn-flat btn-default" data-original-title="Edit">
                                        <i class="fas fa-trash-alt text-danger"aria-hidden="true"></i>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="{{user_name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Tài khoản sẽ bị xoá vĩnh viễn ra khỏi cơ sở dữ liệu
                                            Bạn có chắc muốn xoá tài khoản này?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                                            <button type="button" class="btn btn-danger" name={{_id}} onclick="deleteUserAcc(name)" >Xoá</button>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">   
                                       
      
                                        {{!-- <button type="button" class="btn btn-success">Hoạt động</button>       --}}
                                        <div class="input-group-append">
                                             <span class="badge status-account {{status}}" id="{{_id}}"></span>
                                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <button class="dropdown-item" onclick="blockAccount(name)"  name="{{_id}}">Khoá tài khoản <i class="fas fa-ban text-danger"></i> </button>
                                            <button class="dropdown-item" onclick="unBlockAccount(name)" name="{{_id}}">Mở tài khoản <i class="fas fa-check text-success"></i></button>
                                        </div>
                                    </div>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="box-delete-item d-none">
    <div class="container-content row d-flex">
        <div class="box-content col-sm-10 col-md-8 col-lg-6">
            <p>
                 Bạn đang xoá một tài khoản người dùng,tài khoản sẽ bị xoá vĩnh viễn ra khỏi cơ sở dữ liệu.
                Bạn có chắc muốn xoá?   
            </p>
            <button class="btn btn-light btn__back">Quay lại</button>
            <button class="btn btn-danger btn__confirm-delete">Xoá</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="/js/customize.js"></script>
