<main>
    <div id="tt-pageContent ">
        <div class="container-indent">
            <div class="container container-fluid-custom-mobile-padding mt-5">
                <h1 class="mt-4">Thông tin chi tiết tài khoản khách hàng</h1>

                <div class="form-group">
                    <label for="shopInputFirstName" class="control-label">Họ </label>
                    <input readonly type="text" class="form-control" id="shopInputFirstName" value="{{user.last_name}}" name="first_name"
                        value="" />
                </div>
                <div class="form-group">
                    <label for="shopInputLastName" class="control-label">Tên </label>
                    <input readonly type="text" class="form-control" id="shopInputLastName" value="{{user.first_name}}" name="last_name" value="" />
                </div>
                <div class="form-group">
                    <label for="username" class="control-label">Username </label>
                    <input readonly type="text" class="form-control" id="username" name="user_name" value="{{user.user_name}}" />
                </div>
                <div class="form-group">
                    <label for="shopPhone" class="control-label">Số Điện Thoại</label>
                    <input readonly type="text" value="" class="form-control" id="shopPhone" name="phone_number" value="{{user.phone_number}}" />
                </div>
                <div class="form-group">
                    <label for="shopEmail" class="control-label">Địa chỉ email </label>
                    <input readonly type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control"
                        id="shopEmail" name="user_email" value="{{user.user_email}}" />
                </div>

                <label for="fileImageAvatar">Ảnh đại diện </label>
                <div class="card" style="width: 18rem;">
                    <img src="{{user.avatar_image}}" class="card-img-top " alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
</main>